@media (max-width: 1200px) {
    h1 {
        font-size: 3.75rem;
    }
    h2 {
        font-size: 2.1875rem;
    }
    h3 {
        font-size: 1.875rem;
        line-height: 2.6875rem;
    }
    h5 {
        font-size: 1.625rem;
    }
    
    /* blog  */
    .blog_wrapper .blog-details {
        top: 0.3125rem;
        left: 0.3125rem;
        right: 0.3125rem;
        bottom: 0.3125rem;

    }
}

@media (max-width: 991px) {
    /* 2 navbar  */
    .header-scrolled {
        height: auto;
    }
    .header_wrapper .navbar-collapse {
        margin-top: -0.125rem;
    }
    .header_wrapper .menu-navbar-nav {
        text-align: center;
        background-color: var(--bg-white);
        padding-bottom: 0.9375rem;
    }
    .header_wrapper .nav-item .nav-link {
        margin-top: 0.9375rem;
    }
}

@media (max-width: 1000px) {
    h5 {
        font-size: 1.25rem;
    }
}

@media (max-width: 767px) {
    h1 {
        font-style: 2.5rem;
        line-height: 3rem;
    }
    h2 {
        font-style: 1.875rem;
        line-height: 2.375rem;
    }
    h3 {
        font-style: 1.5625rem;
        line-height: 2.1875rem;
    }

    /* about */
    .about_wrapper .client-info::before {
        top: 0.25rem;
        left: 2.1825rem;
    }
    .about_wrapper .client-info > div {
        justify-content: center;
    }
}

@media (max-width: 575.5px) {
    .blog_wrapper .blog-details {
        top: 2.1875rem;
        left: 2.1875rem;
        right: 2.1875rem;
        bottom: 2.1875rem;
    }
    .mobile-response {
        font-size: 2.15rem;
    }
}

@media (max-width: 510px) {
    h1 {
        font-size: 2.45rem;
        line-height: 2.875rem;
        letter-spacing: 0.1rem;
    }
    h2 {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }
    h5 {
        font-size: 1.10rem;
    }
    .banner_wrapper .banner-content h2::after {
        content: "";
        width: 60%;
        height: 0.2rem;
        position: absolute;
        top: 50%;
        left: 30%;
        background: var(--bg-black);
        overflow-x: hidden;
    }
    .mobile-response {
        font-size: 1.5rem;
    }
    .about_para {
        font-size: 1rem;
    }
    .social-icons a {
        height: 38px;
        width: 38px;
    }
    .social-icons a i {
        font-size: 18px;
    }
}

@media (max-width: 415px) {
    .banner_wrapper .banner-content h2::after {
        content: "";
        width: 65%;
        height: 0.2rem;
        position: absolute;
        top: 50%;
        left: 35%;
        background: var(--bg-black);
        overflow-x: hidden;
    }
    .main-btn {
        padding: 0 2.425rem;
    }
}

@media (max-width: 390px) {
    .footer_wrapper .row {
        display: flex;
        flex-direction: column;
    }
}
