* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    scroll-behavior: smooth;
}
:root {
    --navbar-brand-color: #ff6200;
    --primary-color: #FF651C;
    --dark-color: #373737;
    --contact-bg: #ffffff;
}
.set-poppin {
    font-family: "Poppins";
}

/* Header section  */
.navbar-brand {
    font-family: Jost;
}
.nav-surname {
    color: var(--navbar-brand-color);
}
.navbar-toggler {
    border-radius: 0;
    border: none;
}
.navbar-toggler:focus {
    outline: 0;
    box-shadow: none;
}
.nav-item .nav-link {
    font-size: 1.05rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    color: black !important;
}
.nav-link:after {
    content: "";
    position: absolute;
    top: 35px;
    right: 0;
    left: auto;
    width: 0;
    height: 2px;
    transition: all 0.2s linear;
    background: var(--primary-color);
}
.nav-link:hover {
    color: var(--primary-color) !important;
}
.nav-link:hover::after {
    right: auto;
    width: 100%;
    left: 0;
}
.nav-item a{
    color: var(--primary-color) !important;
    text-decoration: none;
}
.nav-item a:hover{
    color: #CB612F;
}
@media (max-width: 991px) {
    .nav-item a{
        display: inline;
    }
}
.contact-btn button{
    color: white !important;
    text-transform: uppercase;
    background-color: var(--primary-color);
    padding: 0.5rem 1.2rem;
    color: var(--primary-color);
    border: none;
    transition: all 0.2s linear;
}
.contact-btn button:hover {
    background-color: var(--dark-color);
}
.contact-btn {
    transition: all 0.2s;
    box-shadow: 6px 6px var(--dark-color);
}
.contact-btn:hover {
    transition: all 0.2s;
    box-shadow: 5px 5px var(--primary-color);
}
/* Offcanvas */
@media (max-width: 450px) {
    .offcanvas {
        width: 360px !important;
    }
}
@media (max-width: 425px) {
    .offcanvas {
        width: 300px !important;
    }
}
@media (max-width: 385px) {
    .offcanvas {
        width: 280px !important;
    }
}

/* Header section  */

/* Hero section  */
.hero-section {
    background-color: rgba(254, 196, 72, 0.1);
}
.HeroImage {
    border-radius: 50%;
}
.colored-btn {
    color: black;
    font-weight: 400;
}
.home-intro h1 {
    font-family: "Open Sans";
    font-size: 70px;
    font-weight: 600;
    color: var(--dark-color);
    margin: 0 0 1rem 0;
    line-height: 1;
}
@media (max-width: 767px) {
    .home-intro h1 {
        font-size: 50px;
    }
}
@media (max-width: 500px) {
    .home-intro h1 {
        font-size: 40px;
    }
}
.home-intro p {
    font-size: 1.1rem;
}
/* Hero section  */

/* About Section  */
#about-head {
    font-family: Open Sans;
    font-weight: bolder !important;
}
#About div{
    text-align: justify;
}
#Contact div{
    text-align: justify;
    font-weight: bold !important;
}
 @media (min-width: 768px) {
    .skill-img {
        height: 200px;
    }
 }
/* About Section  */


/* Skill Section  */
@media (min-width: 500px) {
    .hover-card{
        transition: all 0.3s linear;
    }   
    .hover-card:hover {
        transform: translateY(-15px);
        cursor: default;
    }
}
/* Skill Section  */


/* Project Section  */
.pro-hover-card {
    transition: all 0.3s linear;
    box-shadow: 3px 3px rgb(163, 163, 163);
}
/* Project Section  */


/* Statistics Section  */
#stats-bg-1 {
    background-color: #EF4123;
}
#stats-bg-2 {
    background-color: #F26522;
}
#stats-bg-3 {
    background-color: #EE871D;
}
#stats-bg-4 {
    background-color: #F99D1C;
}
.state-info {
    color: black;
    background-color: yellow !important;
    padding: 0.4rem 1.5rem;
    border-radius: 30px;
}
/* Statistics Section  */

/* Social link section  */
.social-container {
    padding-top: 0.3rem;
    display: flex;
    gap: 1rem;
}

@media (max-width: 450px) {
    .social-container {
        flex-direction: column;
    }
}

/* youtube */
.social-media {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 4px solid white;
    position: relative;
}
.social-media::before {
    content: "";
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    background: linear-gradient(to top, rgba(255, 0, 0, 0.800), rgba(255, 0, 0, 0.800));
    transform: scaleY(0);
    transition: 0.5s;
}
.social-media:hover::before {
    transform: scaleY(1);
}
/* youtube */

/* instagram */
.social-media-2 {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 4px solid white;
    position: relative;
}
.social-media-2::before {
    content: "";
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    background: linear-gradient(to top, rgba(70, 156, 255, 0.800), rgba(70, 157, 255, 0.800));
    transform: scaleY(0);
    transition: 0.5s;
}
.social-media-2:hover::before {
    transform: scaleY(1);
}
/* instagram */

/* facebook */
.social-media-3 {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 4px solid white;
    position: relative;
}
.social-media-3::before {
    content: "";
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    background: linear-gradient(to top, rgb(0, 73, 156), rgba(0, 73, 156));
    transform: scaleY(0);
    transition: 0.5s;
}
.social-media-3:hover::before {
    transform: scaleY(1);
}
/* facebook */

/* github */
.social-media-4 {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 4px solid white;
    position: relative;
}
.social-media-4::before {
    content: "";
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    background: linear-gradient(to top, #6e5494, #6e5494);
    transform: scaleY(0);
    transition: 0.5s;
}
.social-media-4:hover::before {
    transform: scaleY(1);
}
/* github */

.social i {
    padding-top: 0.2rem;
    font-size: 1.5rem;
    color: white;
    position: relative;
    z-index: 999;
    transition: all 0.4s linear;
}
.social i:hover {
    transform: rotateY(360deg);
}

/* Social link section  */

/* Contact Section  */
.social-logo a{
    color: black !important;
    font-size: 1.2rem;
}
.social-logo a:hover{
    color: red !important;
}
.contact-info {
    font-size: 1.1rem;
    font-weight: normal;
}
.contact-info span{
    font-weight: bold;
}
/* Contact Section  */
